// Place all the styles related to the torrents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.table {
    width: 100%;
}

.release-row {
    background-color: rgb(175, 175, 175);
}

.menu small {
    font-size: 75%;
}