<div class="row">
    <div class="row">
        <div class="small-3 columns">
            <%= form.label :arch, "Architecture" %>
        </div>
        <div class="small-3 columns">
            <%= form.select :arch, options_for_select(['x86', 'x86_64', 'ARM']) %>
        </div>
        <div class="small-6 columns">
            <p><small>What architecture is this release for</small></p>
        </div>
    </div>
</div>

  <div class="row">
    <div class="row">
      <div class="small-3 columns">
        <%= form.label :version %>
      </div>
      <div class="small-9 columns">
        <%= form.text_field :version %>
      </div>
    </div>
  </div>